<div class="center">
  <div class="post-update">

    <h1>Editing Post</h1>

    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>

    <%= render 'form', post: @post %>
  </div>
</div>
