<div class="center">
  <div class="posts">
    <h1>Posts</h1>

    <br/>

    <%= link_to 'New Post', new_post_path if can? :new, @post %>

    <br/>

    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>Body</th>
        <th></th>
        <th colspan="5"></th>
      </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td>|</td>
            <td><%= "#{post.title[0..25]} #{'...' if post.title.size > 25}" %></td>
            <td>|</td>
            <td><%= "#{post.body[0..25]} #{'...' if post.body.size > 25}" %></td>
            <td>|</td>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_post_path(post) if can? :edit, @post %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>