<div class="center">
  <div class="post-show">

    <%= link_to 'Back', posts_path %>
    <%- if can? :edit, @post %>
      | <%= link_to 'Edit', edit_post_path(@post) %>
    <% end %>

    <p>
      <strong>Title:</strong>
      <%= @post.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @post.body %>
    </p>

    <p>
      <strong>Premium:</strong>
      <%= @post.premium %>
    </p>
  </div>
</div>