@import "scaffolds";
@import "posts";


.center {
  width: 75%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}