<!DOCTYPE html>
<html>
  <head>
    <title>RailsCanCan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice" class="center">
      <%= notice %>
    </p>

    <% if current_user %>
      <div class="nav">
        <div class="float-left">
          <%= link_to '< Main', root_path %>
        </div>

        <div class="float-right">
          <%= link_to 'Logout', destroy_user_session_path, class: 'btn', method: :delete %>
        </div>
      </div>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
